nav {
    font-family: var(--font-family);
}

.sub-menu {
    content: '';
    position: absolute;
    width: 100%;
    top: 65px;
    right: 0;
}

.sub-menu .x {
    position: absolute;
    top: 8px;
    right: 27px;
    font-size: 27px;
}

.sub-menu li {
    margin: 0;
    list-style: none;
    margin-bottom: 4px;
    text-align: center;
}

.sub-menu li .active {
    color: #0d6efd;
}

.nav-menu .container li .active {
    color: #0d6efd;
}

.scale-up-ver-top {
    animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scale-up-ver-bottom {
    animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-ver-bottom {
    0% {
        transform: scaleY(0.4);
        transform-origin: 0% 100%;
    }

    100% {
        transform: scaleY(1);
        transform-origin: 0% 100%;
    }
}


@keyframes scale-up-ver-top {
    0% {
        transform: scaleY(0);
        transform-origin: 100% 0%;
    }

    100% {
        transform: scaleY(1);
        transform-origin: 100% 0%;
    }
}